.header {
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerLeft {
    display: flex;
    align-items: center;
  }
  
  .headerCenter {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 450px;
    /* justify-content: center; */
  }
  
  .headerCenter span {
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    padding: 0 20px; /* Adjust the padding to add space between the links */
  }
  
  .headerCenter span:first-child {
    margin-left: 0;
  }
  
  .headerCenter span:hover {
    color: red;
  }
  
  .header__icon {
    width: 80px;
    cursor: pointer;
  }
  
  .user__avatar {
    font-size: 2rem;
  }
  
  .logo {
    font-family: 'Cursive Font', cursive;
    font-weight: bold;
    font-size: 28px;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
    padding: 10px 20px; 
    border-radius: 4px; 
  }
  
  .logo:hover {
    transform: scale(1.1); 
  }
  